.row
  .col-lg-9
    .panel.panel-default
      .panel-heading
        %h3.panel-title Customer Call Details
      .panel-body
        =form_tag("/user/save_activity") do
          .form-group
            %label Name :
            %label= @customer.name
          .form-group
            %label Number :
            %label= @customer.number
          .form-group
            %label Email :
            %label= @customer.email
          .form-group
            %label City :
            %label= @customer.city.name rescue nil
          .form-group
            %label Designation :
            %label= @customer.designation.name rescue nil
          .form-group
            %a.btn.btn-success.start_time{:onclick=>"start_time();"} Start Call
            =hidden_field_tag :start_time
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            %a.btn.btn-success.end_time{:onclick=>"end_time();", :disabled => "disabled"} End Call
            =hidden_field_tag :end_time
          .form-group
            %label Call Feedback
            =text_area_tag :feedback, "", :rows => 7, :placeholder => "Call Feedback", :class => "form-control"
          =hidden_field_tag :customer_id, @customer.id
          =submit_tag "Submit", :class => "btn btn-primary"
          =link_to "Back", {:action => "customers"}, :class => "btn btn-warning btn-sm"
